.my-modal {
  z-index: 100;
  position: fixed;
  top: 22vh;
  left: 5%;
  width: 90%;
  background: none;
  box-shadow: var(--shadow);
  border-radius: 0.8rem;
  text-align: center;
  padding: 1.5rem;
  padding-top: 8rem;
  border-radius: 1.5rem;
  font-size: 1.6rem;
}
.my-modal::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--faded-bg);
  border: 0.1rem solid rgba(255, 255, 255, 0.05);
  backdrop-filter: var(--bg-blur);
  border-radius: 1.5rem;
  z-index: -3;
}

.modal__header {
  border-radius: 1.5rem 1.5rem 0 0;
  width: 100%;
  height: 6rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--sec-accent-color);
  color: var(--accent-text-color);
  font-weight: 600;
  font-size: 2rem;
}

.modal__content .input {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.modal__footer {
  padding: 1rem 0.5rem;
}
.display-none {
  display: none;
}

@media (min-width: 768px) {
  .my-modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
