.App {
  height: 100vh;
  max-width: 500px;
  /* display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; */
  position: relative;
  margin: auto;
  overflow: hidden;
}

.primary-btn {
  background: var(--accent-color);
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--accent-text-color);
  padding: 1.5rem 2.5rem;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  box-shadow: var(--shadow);
}
.success-btn {
  background: var(--success);
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--accent-text-color);
  padding: 1.5rem 2.5rem;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  box-shadow: var(--shadow);
}
.sec-btn {
  background-color: var(--light-bg);
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--sec-color);
  padding: 1.5rem 2.5rem;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  max-height: 5rem;
  box-shadow: var(--shadow);
}
.disable-btn {
  background: var(--sec-accent-color);
  font-weight: 500;
}
.btn-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.Paid {
  background: var(--success);
}
.Processing {
  background: var(--warning);
}
.Due {
  background: var(--danger);
}
nav {
  position: fixed;
  top: 0;
  left: 50%;
  max-width: 500px;
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;
  transform: translateX(-50%);
  z-index: 10;
}

.nav-btn {
  width: 3.8rem;
  height: 3.8rem;
  background: var(--light-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--sec-color);
}
.login,
.home,
.generate {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  font-size: 1.6rem;
  padding: 2.5rem;
}
/*****************login**********************/

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
.input {
  width: 100%;
  height: 5rem;
  background: none;
  font-weight: 500;
  font-size: 1.6rem;
  border: none;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  box-shadow: var(--shadow);
}
.input::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--light-bg);
  backdrop-filter: var(--bg-blur);
  border-radius: 5rem;
  z-index: -1;
  top: 0;
  left: 0;
}
.input .label {
  padding: 2rem;
  background: var(--sec-color-02);
  text-align: center;
}
.login form .label {
  min-width: 12rem;
}
.input input {
  padding: 2rem;
  background: none;
  border: none;
  flex: 1;
  width: 100%;
}
.copyright {
  font-size: 1.6rem;
  color: var(--sec-text);
  margin-left: -1rem;
}
/*****************home**********************/
.price-info {
  width: 100vw;
  max-width: 500px;
  background: var(--light-bg);
  font-size: 1.6rem;
  padding: 1rem 2.5rem;
}
.price-info span {
  font-weight: 600;
  margin-left: 5rem;
}

.last-bill {
  width: 100%;
  margin-top: 5rem;
}
.last-bill-card {
  width: 100%;
  height: 18rem;
  box-shadow: var(--shadow);
  margin: 1rem 0;
  padding: 2.3rem;
  padding-right: 1rem;
  display: flex;
  align-items: flex-end;
  gap: 1.8rem;
  position: relative;
  border-radius: 1.5rem;
}
.last-bill-card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--faded-bg);
  border: 0.1rem solid rgba(255, 255, 255, 0.05);
  backdrop-filter: var(--bg-blur);
  border-radius: 1.5rem;
  z-index: -1;
}

.last-bill-card .date {
  height: 100%;
  aspect-ratio: 5/6;
  width: fit-content;
  padding: 1rem;
  background: var(--sec-accent-color);
  border-radius: 2.2rem;
  color: var(--accent-text-color);
  text-align: center;
  letter-spacing: 0.04em;
  font-weight: 600;
  font-size: 2.4rem;
  text-transform: uppercase;
}
.last-bill-card .date p {
  font-size: 5.4rem;
  margin-top: -0.7rem;
  margin-bottom: -0.5rem;
  font-weight: 600;
}
.last-bill-card .amount {
  font-size: 4.8rem;
  font-weight: 600;
}
.last-bill-card .amount span {
  font-size: 2.4rem;
}
.last-bill-card .reading {
  padding: 0.8rem 1.2rem;
  border: 0.3rem solid rgba(59, 130, 246, 0.3);
  border-radius: 5rem;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.status {
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem 0.5rem 2.5rem;
  border-radius: 0.5rem 1.5rem 0.5rem 0.5rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 2.4rem 100%);
  color: var(--accent-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.4rem;
}
.status svg {
  width: 1.6rem;
  fill: currentColor;
}
/*****************bill**********************/

.bill {
  position: relative;
  width: 100%;
  padding: 2.3rem;
  /* display: flex;
  align-items: flex-end;
  gap: 1.8rem; */
  border-radius: 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.bill::after {
  content: "";
  width: 100%;
  box-shadow: var(--shadow);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--faded-bg);
  border: 0.1rem solid rgba(255, 255, 255, 0.05);
  backdrop-filter: var(--bg-blur);
  border-radius: 1.5rem;
  z-index: -1;
}

.bill table {
  width: 100%;
}
.bill tr {
  display: flex;
  padding-top: 2rem !important;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}
.bill td {
  text-align: right;
}
.bill th {
  color: var(--sec-color);
}

.bill-head,
.thank {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: 600;
  font-size: 2.8rem;
  position: relative;
}
.bill-head p {
  margin-bottom: 3rem;
}
.qr {
  width: 45%;
  z-index: 1;
}
.bill-head::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 0.1rem;
  background-color: var(--sec-color);
  bottom: 2rem;
  right: 0;
  z-index: 0;
}
/*****************history**********************/
.history {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
  flex-direction: column;
}
.bill-list {
  margin-top: 8rem;
  flex-grow: 1;
  overflow: scroll;
  width: 100%;
  background: none;
  padding: 2.5rem;
  padding-bottom: 5rem;
}

.bill-item {
  position: relative;
  width: 100%;
  padding: 0.8rem;
  /* display: flex;
  align-items: flex-end;
  gap: 1.8rem; */
  border-radius: 1.5rem;
  /* font-size: 1.8rem;
  font-weight: 500; */
  margin-bottom: 1rem;
}

.bill-item::after {
  content: "";
  width: 100%;
  box-shadow: var(--shadow);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--faded-bg);
  border: 0.1rem solid rgba(255, 255, 255, 0.05);
  backdrop-filter: var(--bg-blur);
  border-radius: 1.5rem;
  z-index: -1;
}
.main-portion {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.bill-item .date {
  height: 8.9rem;
  width: 7.6rem;
  padding: 1rem;
  background: var(--sec-accent-color);
  border-radius: 1.5rem;
  color: var(--accent-text-color);
  text-align: center;
  letter-spacing: 0.04em;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  z-index: 2;
}
.bill-item .date p {
  font-size: 3.6rem;
  margin-top: -0.7rem;
  margin-bottom: -0.5rem;
  font-weight: 600;
}

.bill-item .amount {
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  position: relative;
}
.bill-item .amount::after {
  content: "";
  position: absolute;
  width: 15rem;
  height: 0.009rem;
  background-color: var(--sec-color);
  bottom: -0.5rem;
  left: -1.6rem;
  z-index: 0;
  opacity: 0.7;
}
small {
  font-size: 1.4rem;
}
.main-portion-details p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
}

.main-portion button {
  background: transparent;
  box-shadow: none;
}
.view-btn {
  position: absolute;
  top: 4.4rem;
  right: 1rem;
}
.delete-btn {
  position: absolute;
  top: 8rem;
  right: 1rem;
}
.update-btn {
  width: 3.8rem;
  height: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--warning) !important;
  position: absolute;
  top: 4.4rem;
  right: 7rem;
  opacity: 0.8;
}
.aside-portion {
  padding: 0.5rem;
  padding-bottom: 0;
}
.history .btn-flex {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
.history .btn-flex button {
  padding: 0;
  width: 3.8rem;
  height: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-menu {
  display: flex;
  justify-content: space-evenly;
}
.input textarea {
  width: 100%;
  height: 100%;
  border: none;
  padding: 1rem;
  background: none;
}
.input textarea:focus {
  outline: none;
}
.note {
  height: 8rem;
}
.input .primary-btn {
  height: 100%;
  padding: 2rem;
}
.modal__content ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.modal__content li button {
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--accent-text-color);
  padding: 1rem 2rem;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}
.active-btn {
  padding: 1.5rem 2.5rem !important;
}

/***********payment********************/

.payment-card {
  width: 100%;
  height: 25rem;
  box-shadow: var(--shadow);
  margin: 1rem 0;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1.8rem;
  position: relative;
  border-radius: 1.5rem;
  margin-top: 15rem;
}
.payment-card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--faded-bg);
  border: 0.1rem solid rgba(255, 255, 255, 0.05);
  backdrop-filter: var(--bg-blur);
  border-radius: 1.5rem;
  z-index: -1;
}
.payment-qr {
  height: 27vh;
  max-height: 24rem;
}
.payment-card p {
  padding: 1rem 1.5rem;
  background: var(--sec-color-02);
  border-radius: 5rem;
  font-size: 1.4rem;
}
.payment-card p strong {
  font-weight: 500;
  font-size: 1.8rem;
}
.copy-upi {
  border: none;
  background: none;
  padding: 0rem;
  margin-left: 1rem;
  position: relative;
}
.copiedToast {
  font-size: 0.6em;
  color: var(--sec-color);
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  transform: translate(-20%, 0);
  line-height: 0.7rem;
}
.dis-none {
  display: none;
}
input[type="file"] {
  opacity: 0;
  position: absolute;
}

.info {
  font-weight: 300;
  text-align: center;
  margin-bottom: 1rem;
}

.payment-form form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.payment-form .label {
  min-width: 13.3rem;
}
/***************generate*********************/
.generate-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.generate-form .label {
  min-width: 18rem;
}
/*****************admin*************/
.users {
  position: relative;
  width: 100%;
}
.users h2 {
  position: relative;
  top: 0;
  left: 0;
}
.users-list {
  height: 55vh;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  justify-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
.user-item {
  width: 100%;
  position: relative;
}
.user-btn {
  background: none;
  padding: 1.5rem;
  padding-top: 8rem;
  border-radius: 1.5rem;
  position: relative;
  width: 100%;
  font-size: 1.8rem;
  color: var(--text-color);
}
.user-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--faded-bg);
  border: 0.1rem solid rgba(255, 255, 255, 0.05);
  backdrop-filter: var(--bg-blur);
  border-radius: 1.5rem;
  z-index: -1;
}

.uname {
  border-radius: 1.5rem 1.5rem 0 0;
  width: 100%;
  height: 6rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-text-color);
  font-weight: 600;
  font-size: 2.4rem;
  letter-spacing: 0.04em;
  opacity: 0.8;
}
.open-btn {
  position: absolute;
  top: 2rem;
  right: 1rem;
}
.user-btn p {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.user-btn aside {
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem;
  text-align: left;
}
.user-item .update-btn {
  top: 70%;
  right: 10%;
  opacity: 1;
}
.bill-history {
  width: 100%;
  color: #000;
}
.history-table {
  width: 100%;
  height: auto;
  text-align: center;
  border-collapse: collapse;
}
@media print {
  .btn-flex,
  .view-btn,
  .delete-btn,
  nav,
  h2 {
    display: none;
  }
  .bill-history {
    display: block;
  }

  .table-head,
  .table-row {
    width: 34rem;
  }
}
.chart-box {
  width: 90vw;
  height: 80vh;
  padding: 1rem;
  margin: 10rem auto 0;
  position: relative;
}
.chart-box::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: var(--bg-blur);
  border-radius: 1rem;
  z-index: -1;
  top: 0;
  left: 0;
}
