.App {
  height: 100vh;
  max-width: 500px;
  /* display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; */
  padding: 2.5rem;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.primary-btn {
  background: var(--accent-color);
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--accent-text-color);
  padding: 1.5rem 2.5rem;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}
.success-btn {
  background: var(--success);
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--accent-text-color);
  padding: 1.5rem 2.5rem;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}
.sec-btn {
  background-color: var(--light-bg);
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--sec-color);
  padding: 1.5rem 2.5rem;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  max-height: 5rem;
}
.disable-btn {
  background: rgba(59, 130, 246, 0.8);
  font-weight: 500;
}
.btn-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.Paid {
  background: #65a30d;
}
.Processing {
  background: linear-gradient(90deg, #f4cc62 0%, #f8b500 100%);
}
.Due {
  background: linear-gradient(270deg, #f05053 0%, #e99a87 100%);
}
nav {
  position: fixed;
  top: 0;
  left: 50%;
  max-width: 500px;
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;
  transform: translateX(-50%);
  z-index: 10;
}

.nav-btn {
  width: 3.8rem;
  height: 3.8rem;
  background: var(--light-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--sec-color);
}
.login,
.home,
.generate {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  font-size: 1.6rem;
}
/*****************login**********************/

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
.input {
  width: 100%;
  height: 5rem;
  background: none;
  font-weight: 500;
  font-size: 1.6rem;
  border: none;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  box-shadow: var(--shadow);
}
.input::after {
  content: "";
  width: 100%;
  height: 5rem;
  position: absolute;

  background: var(--light-bg);
  backdrop-filter: var(--bg-blur);
  border-radius: 5rem;
  z-index: -1;
  top: 0;
  left: 0;
}
.input .label {
  padding: 2rem;
  background: #73737320;
}
.input input {
  padding: 2rem;
  background: none;
  border: none;
  flex: 1;
}
.copyright {
  font-size: 1.6rem;
  color: var(--sec-text);
  margin-left: -1rem;
}
/*****************home**********************/
.price-info {
  width: 100vw;
  background: var(--light-bg);
  font-size: 1.6rem;
  padding: 1rem 2.5rem;
}
.price-info span {
  font-weight: 600;
  margin-left: 5rem;
}

.last-bill {
  width: 100%;
  margin-top: 5rem;
}
.last-bill-card {
  width: 100%;
  height: 18rem;
  box-shadow: var(--shadow);
  margin: 1rem 0;
  padding: 2.3rem;
  padding-right: 1rem;
  display: flex;
  align-items: flex-end;
  gap: 1.8rem;
  position: relative;
  border-radius: 1.5rem;
}
.last-bill-card::after {
  content: "";
  width: 100%;
  height: 18rem;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    155deg,
    rgb(255 255 255 / 50%) 50%,
    rgba(255 255 255 /30%) 100%
  );
  border: 0.1rem solid rgba(255, 255, 255, 0.05);
  backdrop-filter: var(--bg-blur);
  border-radius: 1.5rem;
  z-index: -1;
}

.last-bill-card .date {
  height: 100%;
  aspect-ratio: 5/6;
  width: fit-content;
  padding: 1rem;
  background: rgba(59, 130, 246, 0.8);
  border-radius: 2.2rem;
  color: var(--accent-text-color);
  text-align: center;
  letter-spacing: 0.04em;
  font-weight: 600;
  font-size: 2.4rem;
  text-transform: uppercase;
}
.last-bill-card .date p {
  font-size: 5.4rem;
  margin-top: -0.7rem;
  margin-bottom: -0.5rem;
  font-weight: 600;
}
.last-bill-card .amount {
  font-size: 4.8rem;
  font-weight: 600;
}
.last-bill-card .amount span {
  font-size: 2.4rem;
}
.last-bill-card .reading {
  padding: 0.8rem 1.2rem;
  border: 0.3rem solid rgba(59, 130, 246, 0.3);
  border-radius: 5rem;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.status {
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem 0.5rem 2.5rem;
  border-radius: 0.5rem 1.5rem 0.5rem 0.5rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 2.4rem 100%);
  color: var(--accent-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.4rem;
}
.status svg {
  width: 1.6rem;
  fill: currentColor;
}
/*****************bill**********************/

.bill {
  position: relative;
  width: 100%;
  padding: 2.3rem;
  /* display: flex;
  align-items: flex-end;
  gap: 1.8rem; */
  border-radius: 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.bill::after {
  content: "";
  width: 100%;
  box-shadow: var(--shadow);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    155deg,
    rgb(255 255 255 / 50%) 50%,
    rgba(255 255 255 /30%) 100%
  );
  border: 0.1rem solid rgba(255, 255, 255, 0.05);
  backdrop-filter: var(--bg-blur);
  border-radius: 1.5rem;
  z-index: -1;
}

.bill table {
  width: 100%;
}
.bill tr {
  display: flex;
  padding-top: 2rem !important;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}
.bill td {
  text-align: right;
}
.bill th {
  color: var(--sec-color);
}

.bill-head {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: 600;
  font-size: 2.8rem;
  position: relative;
}
.bill-head p {
  margin-bottom: 3rem;
}
.qr {
  width: 45%;
  z-index: 1;
}
.bill-head::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 0.1rem;
  background-color: var(--sec-color);
  bottom: 2rem;
  right: 0;
  z-index: 0;
}
/*****************history**********************/
.bill-list {
  margin-top: 5rem;
  height: 100%;
}

/* .home,
.generate {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  justify-content: space-evenly;
}
.my-badge {
  display: block;
  padding: 0.85rem 0.75rem;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  border-radius: 50rem;
  background-color: #20c997;
} */

.copy-upi {
  border: none;
  background: none;
  padding: 0rem;
  margin-left: 0.5rem;
  position: relative;
}
.copiedToast {
  font-size: 0.6em;
  color: #6c757d;
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  transform: translate(-20%, 0);
  line-height: 0.7rem;
}
.table {
  text-align: left;
}
.table > :not(caption) > * > * {
  padding: 0.3rem 0.5rem;
}
.dis-none {
  display: none;
}

form {
  position: relative;
}
.user-element {
  display: flex;
  gap: 0.2rem;
  justify-content: space-between;
}
.user-element .btn-light {
  width: 100%;
}
.card .list-group {
  height: 55vh;
  overflow-y: scroll;
}
.card .table {
  margin-bottom: 0;
}
.card .btn {
  padding: 0.2rem;
  align-self: stretch;
}

.history-table {
  display: block;
  height: 50vh;
  margin: auto;
  overflow: scroll;
  padding: 0.5rem 0.5rem;
}
.history-table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
}
.table-head {
  font-weight: 600;
  border-bottom: 0.1rem solid black;
}
.table-head,
.table-row {
  display: flex;
  width: 38rem;
}
.col2,
.col3,
.col5 {
  min-width: 5rem;
  max-width: 5rem;
  display: inline-block;
}
.col1 {
  min-width: 7rem;
  max-width: 7rem;
  display: inline-block;
}
.col4 {
  min-width: 7.5rem;
  max-width: 7.5rem;
  display: inline-block;
}
.col4 span {
  font-size: 0.9rem;
}
.col4 .update-btn {
  border-radius: 0.2rem !important;
  width: 100%;
  padding: 0;
}
.col5 {
  min-width: 8rem;
  max-width: 8rem;
  display: inline-block;
}

.dropdown-menu {
  min-width: auto !important;
}
.dropdown-menu .btn {
  width: 80%;
  margin: 0 1rem 0.5rem;
}
@media print {
  .btn-flex,
  .view-btn,
  .delete-btn,
  nav {
    display: none;
  }
  .history-table {
    height: auto;
  }
  .table-head,
  .table-row {
    width: 34rem;
  }
}
.chart-box {
  width: 80vw;
  height: 80vh;
}
